.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(153, 194, 244);
}

.logoWrap {
  position: relative;
}
.logoBlockWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
  bottom: -40px;
  left: 0;
}

.logoBlocText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-weight: 600;
  color: white;
  background-color: orange;
  border-radius: 70px;
  padding: 40px 20px;
}

.linkWrap {
  text-decoration: none;
}
.mainMenuPicture {
  width: 100%;
  height: 60vh;
  border-bottom-left-radius: 14%;
  border-bottom-right-radius: 14%;
}

.buttonBlock {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  border-radius: 10px;
  background-color: orange;
  width: 50vw;
  height: 10vh;
}
