$largeScreenFontSize: 50px;
$pcFontSize: 34px;
$tabletsFontSize: 28px;
$mobileFontSize: 20px;

.header {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  .headerContent {
    display: flex;
    padding: 10px 0px;

    width: 50%;
    height: 10;
    .headerLink {
      color: white;
      display: flex;
      align-items: center;
      margin-right: 30px;
    }
    .headerText {
      font-size: $pcFontSize;
      font-weight: 600;
    }

    .backButton {
      font-size: $pcFontSize;
      font-weight: 800;
    }
  }
}
